{% extends "styling.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<div class="logout">
    <a class="button" href="/logout" role="button">Log ud</a>
    </div>
<h2 class="center">Person Liste</h2>

<div class="list">
    
    <div class="list-header">
        <div>Name</div>
        <div>Battery</div>
        <div>Pulse</div>
        <div>Fall status</div>
        <div>Last fall</div>
    </div>

    <div class="list-row">
        <div> Test </div>
        <div id="field_battery"> 0 </div>
        <div id="field_pulse"> 0 </div>
        <div id="field_fall"> - </div>
        <div id="field_last_registered"> - </div>
    </div>
</div>

<script>
    let lastFallTime = null;   
    const FALL_DISPLAY_MS = 10000;
    async function fetchData() {
        const response = await fetch('/data');
        if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
        }
        const data = await response.json();

        const pulseDiv = document.getElementById("field_pulse");
        pulseDiv.textContent = data[0]

        const batteryDiv = document.getElementById("field_battery");
        batteryDiv.textContent = data[1]

        console.log(data[2])
        // If server reports a fall
        if (data[2] !== "no") {
            lastFallTime = Date.now();
            const fallDiv = document.getElementById("field_fall");
            fallDiv.textContent = "FALL at " + data[2];
        }

        // If we have a stored fall but time has expired → clear it
        else if (lastFallTime !== null) {
            const elapsed = Date.now() - lastFallTime;

            if (elapsed > FALL_DISPLAY_MS) {
                const fallDiv = document.getElementById("field_fall");
                const last_registeredDiv = document.getElementById("field_last_registered");
                last_registeredDiv.textContent = fallDiv.textContent;
                fallDiv.textContent = "-";
                lastFallTime = null;
            }
        }

    }
    fetchData();
    setInterval(fetchData, 2000);

</script>


{% endblock %}