{% extends "styling.html" %}
{% block title %}
Login
{% endblock %}

{% block body_class %}center-body{% endblock %}

{% block content %}
<div class="center">
    <form method="POST">
        <h1>Login</h1>
        <div>
            <label for="username">Username:</label>
            <br>
            <input type="username" id="username" name="username">
            <br><br>
            <label for="password">Password:</label>
            <br>
            <input type="password" id="password" name="password">
            <br><br>
            <input type="submit" value="Submit" class="button">
        </div>
    </form>
</div>

{% endblock %}